%p#notice= notice

%p
  %b Rate:
  = @worker_reading.rate
%p
  %b Worker:
  = @worker_reading.worker_id

= link_to 'Edit', edit_worker_reading_path(@worker_reading)
\|
= link_to 'Back', worker_readings_path
