= form_for @pool_reading do |f|
  - if @pool_reading.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pool_reading.errors.count, "error")} prohibited this pool_reading from being saved:"
      %ul
        - @pool_reading.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_rate
    = f.text_field :user_rate
  .field
    = f.label :workers
    = f.number_field :workers
  .actions
    = f.submit 'Save'
