%h1 All Workers Total Thps
.graph
  = image_tag PoolReading.graph
.stats
  = render "shared/stats", target: PoolReading

- Worker.all.each do |worker|
  %h2
    = worker.name
  .graph
    = image_tag worker.graph
  .stats
    = render "shared/stats", target: worker
