.space
  %pre.df

.time

.charts
  .section
    %h2 All Workers Total Thps
    .graph
      %canvas{id: "all-workers-chart"}
      -# = image_tag PoolReading.graph
    .graph
      %canvas{id: "all-works-week"}
    .stats
      = render "shared/stats", target: PoolReading

  .section
    %h2 Workers Compared
    .graph
      %canvas{id: "workers"}

  - Worker.all.each do |worker|
    .section{"data-id": worker.id}
      %h2
        = worker.name
      .graph
        %canvas{id: "worker-#{worker.id}"}
        -# = image_tag worker.graph
      .stats
        = render "shared/stats", target: worker

:javascript
  var Watcher = #{JSON.generate(empty_watcher).html_safe};
