.space
  %pre.df

.summary
  %table
    %thead
      %tr
        %th
        %th Thps Now
        %th Thps Day
        %th
          Uptime
          %br
          Day
    %tbody
      - @workers.each do |worker|
        %tr{'data-id': worker.id}
          %th
            = worker.name
          %td.now
          %td.day
          %td.uptime
      %tr{'data-id': 'all'}
        %th All
        %td.now
        %td.day
        %td.uptime

.charts
  .section{"data-id": "all"}
    %h1
      All Workers
      .current
    .time
    .graph
      %canvas{id: "all-workers-chart", style: "height: 600px;"}
      -# = image_tag PoolReading.graph
    -# .graph
    -#   %canvas{id: "all-works-week", style: "height: 600px;"}
    .stats
      = render "shared/stats", target: PoolReading

  .section
    %h1
      Workers Compared
    .time
    .graph
      %canvas{id: "workers", style: "height: 600px;"}

  - @workers.each do |worker|
    .section{"data-id": worker.id}
      %h1
        = worker.name
        .current
      .time
      .graph
        %canvas{id: "worker-#{worker.id}", style: "height: 600px;"}
      .stats
        = render "shared/stats", target: worker

    .section.month{"data-id": "#{worker.id}-month"}
      %h1
        = worker.name
        %br
        Past Month
      .graph
        %canvas{id: "worker-#{worker.id}-month", style: "height: 600px;"}

:javascript
  var Watcher = #{JSON.generate(empty_watcher).html_safe};
  var Workers = #{JSON.generate(@workers.pluck(:id, :name).to_h).html_safe}
