.space
  %pre.df

.charts
  .section{"data-id": "all"}
    %h1
      All Workers
      %br
      %span.current
    .time
    .graph
      %canvas{id: "all-workers-chart", style: "height: 600px;"}
      -# = image_tag PoolReading.graph
    -# .graph
    -#   %canvas{id: "all-works-week", style: "height: 600px;"}
    .stats
      = render "shared/stats", target: PoolReading

  .section
    %h1
      Workers Compared
    .time
    .graph
      %canvas{id: "workers", style: "height: 600px;"}

  - Worker.all.each do |worker|
    .section{"data-id": worker.id}
      %h1
        = worker.name
        %span.current
      .time
      .graph
        %canvas{id: "worker-#{worker.id}", style: "height: 600px;"}
        -# = image_tag worker.graph
      .stats
        = render "shared/stats", target: worker

:javascript
  var Watcher = #{JSON.generate(empty_watcher).html_safe};
  var Workers = #{JSON.generate(Worker.all.pluck(:id, :name).to_h).html_safe}
