<p id="notice"><%= notice %></p>

<h1>Pool Readings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pool_readings.each do |pool_reading| %>
      <tr>
        <td><%= link_to 'Show', pool_reading %></td>
        <td><%= link_to 'Edit', edit_pool_reading_path(pool_reading) %></td>
        <td><%= link_to 'Destroy', pool_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool Reading', new_pool_reading_path %>
