.space.card
  %pre.df

.summary.card
  %table
    %thead
      %tr
        %th
        %th Thps Now
        %th Thps Day
        %th
          Uptime
          %br
          Day
    %tbody
      - @workers.each do |worker|
        %tr{'data-id': worker.id}
          %th
            = worker.name
          %td.now
          %td.day
          %td.uptime
      %tr{'data-id': 'all'}
        %th All
        %td.now
        %td.day
        %td.uptime

.section.card{"data-id": "all"}
  .stats
    = render "shared/stats", target: PoolReading

.section.card{"data-id": "all"}
  %h1
    All Workers
    .current
  .time
  .graph
    %canvas{id: "all-workers-chart"}
    -# = image_tag PoolReading.graph
  -# .graph
  -#   %canvas{id: "all-works-week", style: "height: 600px;"}

.section.card
  %h1
    Workers Compared
  .time
  .graph
    %canvas{id: "workers"}

- @workers.each do |worker|
  .worker.card
    %h1
      = worker.name
      .current
    .time
    .section{"data-id": worker.id}
      .graph
        %canvas{id: "worker-#{worker.id}"}

    .section.month{"data-id": "#{worker.id}-month"}
      .graph
        %canvas{id: "worker-#{worker.id}-month"}

    .stats
      = render "shared/stats", target: worker

:javascript
  var Watcher = #{JSON.generate(empty_watcher).html_safe};
  var Workers = #{JSON.generate(@workers.pluck(:id, :name).to_h).html_safe}
