%p#notice= notice

%p
  %b User rate:
  = @pool_reading.user_rate
%p
  %b Workers:
  = @pool_reading.workers

= link_to 'Edit', edit_pool_reading_path(@pool_reading)
\|
= link_to 'Back', pool_readings_path
